@media only screen and (max-width: 480px) {
  .typography_header_h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .typography_header_h2 {
    font-size: 35px;
    font-weight: bold;
  }

  .typography_header_h3 {
    font-size: 30px;
    font-weight: bold;
  }

  .typography_header_h4 {
    font-size: 25px;
    font-weight: bold;
  }

  .typography_header_h5 {
    font-size: 20px;
    font-weight: bold;
  }
  .typography_content_large {
    font-size: 19px;
  }
  .typography_content_main {
    font-size: 18px;
  }
  .typography_content_minor {
    font-size: 16px;
    font-weight: bold;
  }
  .typography_content_mini {
    font-size: 15px;
  }
  .typography_content_xs {
    font-size: 14px;
  }
  .button_filled {
    border: 1px solid #1b27af;
    background: #1b27af;
    border-radius: 6px;
    color: #00ffeb;
    text-transform: uppercase;
    padding: 15px 40px;
  }
  .button_outline {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 40px;
  }

  .minor {
    margin: 30px 10px;
  }
}
